<template>
  <div>
    <!-- <div>
     <table>
      <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Nutriments</th>
      </tr>
      <tr v-for="(f,i) in foods.parsed" :key="i">
        <td>{{ f.food.category}}</td>
        <td>{{ f.food.label}}</td>
        <tr v-for="(n,i) in f.foods.nutrients" :key="i">
          <td>{{n}}</td>
        </tr>
    </table>
   </div> -->

  </div>
</template>

<script>
export default {
  //
}
</script>

