<template>
  <div>
   <h1> {{ title }} </h1>
   <ul v-show="errors && errors.length">
    <li v-for="error of errors" :key="error" class="error">
      {{error.message}}
    </li>
  </ul>

   <label for="Food">Food name: </label>
   <input type="text" placeholder="Choose your food" v-model="name">

   <p>{{ name }}</p>

   <div>
     <ul v-for="(f,i) in foods.parsed" :key="i">
       <li>Category: {{f.food.category}}</li>
       <li>Product: {{f.food.label.toUpperCase()}}</li>
        <p>Nutriments</p>
       <li v-for="(n,i) in f.food.nutrients" :key="i">
            <p>{{ i }} : {{n}}</p>
       </li>
     </ul>
   </div>
  </div>
</template>


<script>
import axios from 'axios';
import app from '../api';
// import Search from "./Search";

export default {
  name: 'Food',
  props: ['name', 'search'],
  data() {
    return {
      link: 'https://api.edamam.com/api/food-database/parser',
      title: 'Food Factory',
      foods: [],
      errors: [],
    };
  },
  async mounted() {
    await axios.get(`${this.link}?ingr=red%20apple&app_id=${app.appID}&app_key=${app.apikey}`).then((res) => { this.foods = res.data; }).catch(error => this.errors.push(error));
  },
};
</script>

<style lang="css">
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li .error {
  color: red;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}
</style>
