<template>
  <div>
    <input type="text"
      v-model="search" placeholder="Food name"
      @input="$emit('update:search', $event.target.value)"
    />
  </div>
</template>

<script>
export default {
  name: 'Search',
  props: ['search']
}
</script>
